[Desktop Entry]
Encoding=UTF-8
Name=biglauncher      biglauncher
Name[ca]=Plasmoide del biglauncher
Name[ca@valencia]=Plasmoide del biglauncher
Name[cs]=biglauncher
Name[de]=biglauncher
Name[el]=biglauncher
Name[en_GB]=biglauncher
Name[es]=biglauncher
Name[fi]=biglauncher
Name[fr]=biglauncher
Name[gl]=Plasmoide de biglauncher
Name[it]=Plasmoide biglauncher
Name[ko]=biglauncher
Name[nl]=biglauncher
Name[nn]=biglauncher
Name[pl]=Plazmoid biglauncher
Name[pt]=biglauncher
Name[pt_BR]=biglauncher
Name[sk]=biglauncher
Name[sv]=biglauncher Plasmoid
Name[uk]=Плазмоїд biglauncher
Name[x-test]=xxbiglauncherxx
Name[zh_TW]=biglauncher
Comment=biglauncher applet for plasma desktop
Comment[ca]=Miniaplicació biglauncher per a l'escriptori Plasma
Comment[ca@valencia]=Miniaplicació biglauncher per a l'escriptori Plasma
Comment[cs]=Applet biglauncher pro pracovní prostředí Plasma
Comment[de]=biglauncher-Miniprogramm für die Plasma-Arbeitsfläche
Comment[el]=Η μικροεφαρμογή biglauncher για την επιφάνεια εργασίας plasma
Comment[en_GB]=biglauncher applet for plasma desktop
Comment[es]=Miniaplicación biglauncher para el escritorio Plasma
Comment[fi]=biglauncher-sovelma Plasma-työpöydälle
Comment[fr]=Applet biglauncher pour le bureau Plasma
Comment[gl]=Trebello de biglauncher para o escritorio Plasma.
Comment[it]=Applet di biglauncher per il desktop Plasma
Comment[ko]=Plasma 데스크톱용 biglauncher 애플릿
Comment[nl]=biglauncher applet voor Plasma Bureaublad
Comment[nn]=biglauncher-skjermelement for Plasma
Comment[pl]=Aplet biglauncher dla pulpitu plazmy
Comment[pt]='Applet' do biglauncher para o ambiente de trabalho Plasma
Comment[pt_BR]=Miniaplicativo do biglauncher para o ambiente de trabalho Plasma
Comment[sk]=Applet biglauncher pre plochu Plasma
Comment[sv]=biglauncher miniprogram för Plasma-skrivbordet
Comment[uk]=Аплет biglauncher для стільниці Плазми
Comment[x-test]=xxbiglauncher applet for plasma desktopxx
Comment[zh_TW]=適用於 Plasma 桌面的 biglauncher 元件
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.biglauncher
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft
