[Desktop Entry]
Encoding=UTF-8
Name=Plasma Big Screen
Name[az]=Plasma Böyük Ekran
Name[ca]=Pantalla gran del Plasma
Name[ca@valencia]=Pantalla gran de Plasma
Name[cs]=Plasma Big Screen
Name[da]=Plasma Big Screen
Name[el]=Plasma Big Screen
Name[en_GB]=Plasma Big Screen
Name[es]=Plasma Big Screen
Name[et]=Plasma suurekraan
Name[eu]=Plasmaren pantaila handia
Name[fi]=Plasma Big Screen
Name[fr]=Grand écran pour Plasma
Name[hu]=Plasma Bigscreen
Name[id]=Plasma Big Screen
Name[it]=Plasma Bigscreen
Name[ko]=Plasma 큰 화면
Name[nl]=Plasma Big Screen
Name[nn]=Plasma Big Screen
Name[pl]=Duży Ekran Plazmy
Name[pt]=Plasma para Grande Ecrã
Name[pt_BR]=Plasma Big Screen
Name[ru]=Plasma Big Screen
Name[sk]=Plasma Big Screen
Name[sl]=Veliki zaslon Plasma
Name[sv]=Plasma storbildsskärm
Name[tr]=Plasma Büyük Ekran
Name[uk]=Плазма для великих екранів
Name[x-test]=xxPlasma Big Screenxx
Name[zh_CN]=Plasma 大屏幕
Name[zh_TW]=Plasma 大螢幕
Comment=Plasma shell for TVs
Comment[az]=TV-lər üçün Plasma örtüyü
Comment[ca]=Espai de treball Plasma per a televisors
Comment[ca@valencia]=Espai de treball Plasma per a televisors
Comment[da]=Plasma-skal til fjernsyn
Comment[de]=Plasma-Shell für Fernseher
Comment[el]=Κέλυφος Plasma για τηλεοράσεις
Comment[en_GB]=Plasma shell for TVs
Comment[es]=Intérprete de comandos para televisores
Comment[et]=Plasma televisioonikest
Comment[eu]=Plasmaren oskola TBrako
Comment[fi]=Plasma-televisiokäyttöliittymä
Comment[fr]=Composant « plasmashell » pour des télévisions
Comment[hu]=Plasma felület televíziókhoz
Comment[id]=Plasma shell untuk TV
Comment[it]=Shell di Plasma per TV
Comment[ko]=TV용 Plasma 셸
Comment[nl]=Plasma-shell voor TV's
Comment[nn]=Plasma-utforming for TV-ar
Comment[pl]=Powłoka Plazmy dla telewizorów
Comment[pt]=Consola do Plasma para TV's
Comment[pt_BR]=Shell do Plasma para TVs
Comment[ru]=Оболочка Plasma для телевизоров
Comment[sk]=Plasma shell pre televízory
Comment[sl]=Plasma shell za TV
Comment[sv]=Plasma skal för tv-apparater
Comment[tr]=TV'ler için Plasma kabuğu
Comment[uk]=Оболонка Плазми для телевізорів
Comment[x-test]=xxPlasma shell for TVsxx
Comment[zh_CN]=适配电视的 Plasma 外壳程序
Comment[zh_TW]=適用於電視的 Plasma Shell
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.plasma.mycroft.bigscreen
X-Plasma-FallbackPackage=org.kde.plasma.nano
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://plasma-mobile.org

