[Desktop Entry]
Name=Appearance
Comment=Font and Theme
Encoding=UTF-8
Type=Service
Icon=view-grid-symbolic
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mediacenter_bigscreen_settings
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-Name=kcm_mediacenter_theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma-bigscreen.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mediacenter_bigscreen_settings
X-Plasma-MainScript=ui/main.qml
