[Desktop Entry]
Name=Appearance
Name[az]=Xarici görünüş
Name[ca]=Aparença
Name[cs]=Vzhled
Name[eu]=Itxura
Name[nl]=Uiterlijk
Name[sv]=Utseende
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Comment=Font and Theme
Comment[az]=Şrift və Mövzu
Comment[ca]=Tipus de lletra i tema
Comment[cs]=Písmo a motiv
Comment[eu]=Letra-tipoa eta gaia
Comment[nl]=Lettertype en thema
Comment[sv]=Teckensnitt och tema
Comment[uk]=Шрифт і тема
Comment[x-test]=xxFont and Themexx
Encoding=UTF-8
Type=Service
Icon=view-grid-symbolic
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_mediacenter_bigscreen_settings
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-Name=kcm_mediacenter_theme
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://plasma-bigscreen.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-FormFactors=handset,tablet,mediacenter
X-Plasma-Package=kcm_mediacenter_bigscreen_settings
X-Plasma-MainScript=ui/main.qml
