[Desktop Entry]
Exec=plasma-settings -s -m kcm_mediacenter_wifi
Icon=network-wireless-signal-exellent
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/wifi/index.html

X-KDE-Library=kcm_mediacenter_wifi
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
X-KDE-FormFactors=mediacenter

Name=Wifi
Name[az]=Wifi
Name[ca]=Wi-Fi
Name[ca@valencia]=Wi-Fi
Name[cs]=WiFi
Name[da]=Wi-fi
Name[de]=Wi-Fi
Name[el]=Wifi
Name[en_GB]=Wifi
Name[es]=Wifi
Name[et]=WiFi
Name[eu]=Wi-Fi
Name[fi]=Langaton verkko
Name[fr]=Wifi
Name[hu]=WiFi
Name[id]=Wifi
Name[it]=Wifi
Name[ko]=Wi-Fi
Name[nl]=Wi-Fi
Name[nn]=Wi-Fi
Name[pl]=Wifi
Name[pt]=Wi-Fi
Name[pt_BR]=Wi-Fi
Name[ru]=Wi-Fi
Name[sk]=Wifi
Name[sl]=Wifi
Name[sv]=WIFI
Name[tr]=Wi-Fi
Name[uk]=Wi-Fi
Name[x-test]=xxWifixx
Name[zh_CN]=Wi-Fi
Name[zh_TW]=Wi-Fi
Comment=Connect to Wifi networks
Comment[az]=Wifi şəbəkələrinə qoşulun
Comment[ca]=Connecta amb les xarxes Wi-Fi
Comment[ca@valencia]=Connecta amb les xarxes Wi-Fi
Comment[da]=Forbind til wi-fi-netværk
Comment[de]=Mit Wi-Fi-Netzwerken verbinden
Comment[el]=Συνδεθείτε σε ασύρματα δίκτυα
Comment[en_GB]=Connect to Wifi networks
Comment[es]=Conectar a redes Wifi
Comment[et]=Ühendumine WiFi võrkudega
Comment[eu]=Konektatu Wi-Fi sareetara
Comment[fi]=Yhdistä langattomiin verkkoihin
Comment[fr]=Se connecter aux réseaux Wifi
Comment[hu]=Kapcsolódás WiFi-hálózatokhoz
Comment[id]=Koneksikan ke jaringan Wifi
Comment[it]=Connettiti alle reti senza fili
Comment[ko]=Wi-Fi 네트워크에 연결
Comment[nl]=Met WiFi-netwerken verbinden
Comment[nn]=Kopla til Wi-Fi-nettverk
Comment[pl]=Połącz z sieciami WiFi
Comment[pt]=Ligar a redes Wi-Fi
Comment[pt_BR]=Conectar à redes Wi-Fi
Comment[ru]=Подключение к сетям Wi-Fi
Comment[sk]=Pripojiť sa na Wifi siete
Comment[sl]=Povežite se z omrežji Wifi
Comment[sv]=Anslut till WIFI-nätverk
Comment[tr]=Wi-Fi ağlarına bağlanın
Comment[uk]=З'єднання із мережами Wi-Fi
Comment[x-test]=xxConnect to Wifi networksxx
Comment[zh_CN]=连接到 Wi-Fi 网络
Comment[zh_TW]=連線至 Wi-Fi 網路

Categories=Qt;KDE;X-KDE-settings-wifi;
