[Desktop Entry]
Name=Audio
Icon=audio-volume-high
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_audiodevice
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
