[Desktop Entry]
Name=Audio
Name[az]=Səs
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[cs]=Audio
Name[en_GB]=Audio
Name[es]=Audio
Name[fi]=Ääni
Name[fr]=Audio
Name[it]=Audio
Name[ko]=오디오
Name[nl]=Audio
Name[pt]=Áudio
Name[pt_BR]=Áudio
Name[sl]=Zvok
Name[sv]=Ljud
Name[tr]=Ses
Name[uk]=Звук
Name[x-test]=xxAudioxx
Name[zh_CN]=音频
Icon=audio-volume-high
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_audiodevice
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
