[Desktop Entry]
Exec=plasma-settings -s -m kcm_mediacenter_kdeconnect
Icon=kdeconnect
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kdeconnect/index.html

X-KDE-Library=kcm_mediacenter_kdeconnect
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
X-KDE-FormFactors=mediacenter

Name=KDE Connect
Comment=Connect and sync your devices

Categories=Qt;KDE;X-KDE-settings-wifi;
