[Desktop Entry]
Name=KDE Connect
Name[az]=KDE Connect
Name[ca]=KDE Connect
Name[ca@valencia]=KDE Connect
Name[cs]=KDE Connect
Name[da]=KDE Connect
Name[de]=KDE Connect
Name[el]=KDE Connect
Name[en_GB]=KDE Connect
Name[es]=KDE Connect
Name[et]=KDE Connect
Name[eu]=KDE Connect
Name[fi]=KDE Connect
Name[fr]=KDE Connect
Name[hu]=KDE Connect
Name[id]=KDE Connect
Name[it]=KDE Connect
Name[ko]=KDE Connect
Name[nl]=KDE Connect
Name[nn]=KDE Connect
Name[pl]=KDE Connect
Name[pt]=KDE Connect
Name[pt_BR]=KDE Connect
Name[ru]=KDE Connect
Name[sk]=KDE Connect
Name[sl]=KDE Connect
Name[sv]=KDE-anslut
Name[tr]=KDE Connect
Name[uk]=KDE Connect
Name[x-test]=xxKDE Connectxx
Name[zh_CN]=KDE Connect
Name[zh_TW]=KDE 連線

Icon=kdeconnect
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_kdeconnect
X-KDE-ServiceTypes=Plasma/Generic
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
