[Desktop Entry]
Name=KDE Connect

Icon=kdeconnect
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_kdeconnect
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
