# SPDX-FileCopyrightText: 2026 Bart Ribbers <bribbers@disroot.org>
# SPDX-License-Identifier: CC0-1.0
SUBSYSTEM=="misc", KERNEL=="uinput", MODE="0660", GROUP="input"
