# SPDX-FileCopyrightText: 2025 Seshan Ravikumar <seshan@sineware.ca>
# SPDX-License-Identifier: LicenseRef-KDE-Accepted-GPL

[Desktop Entry]
Name=UVC Viewer
Name[ar]=عارض UVC
Name[ca]=Visualitzador UVC
Name[ca@valencia]=Visor UVC
Name[cs]=Prohlížeč UVC
Name[es]=Visor UVC
Name[fr]=Afficheur pour format « UVC »
Name[he]=מציג UVC
Name[ia]=Visor de UVC 
Name[it]=Visore UVC
Name[ka]=UVC-ის დამთვალიერებელი
Name[ko]=UVC 뷰어
Name[nl]=UVC-viewer
Name[pt_BR]=Visualizador UVC
Name[ru]=Просмотр UVC
Name[sk]=Prehliadač UVC
Name[sl]=UVC Viewer
Name[tr]=UVC Görüntüleyicisi
Name[uk]=Переглядач UVC
Name[zh_CN]=UVC 查看器
Name[zh_TW]=UVC 檢視器
Exec=plasma-bigscreen-uvcviewer
Icon=video-display
Type=Application
Terminal=false
Categories=AudioVideo
