[Desktop Entry]
Name=Appearance
Comment=Look and Feel

Icon=view-grid-symbolic
Exec=plasma-settings -m kcm_mediacenter_bigscreen_settings

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mediacenter_bigscreen_settings
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
Categories=Qt;KDE;X-KDE-settings-system;
