[Desktop Entry]
Name=Appearance
Name[az]=Xarici görünüş
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[en_GB]=Appearance
Name[es]=Apariencia
Name[eu]=Itxura
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[hu]=Megjelenés
Name[it]=Aspetto
Name[ko]=모양
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sv]=Utseende
Name[tr]=Görünüm
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Comment=Look and Feel
Comment[az]=Plasma Xarici Görünüşü
Comment[ca]=Aspecte i comportament
Comment[ca@valencia]=Aspecte i comportament
Comment[cs]=Vzhled a dojem
Comment[en_GB]=Look and Feel
Comment[es]=Aspecto
Comment[eu]=Itxura eta izaera
Comment[fi]=Ulkoasu ja tuntuma
Comment[fr]=Apparence et ergonomie
Comment[hu]=Kinézet
Comment[it]=Aspetto
Comment[ko]=모습과 느낌
Comment[nl]=Uiterlijk en gedrag
Comment[nn]=Utsjånad og åtferd
Comment[pl]=Wygląd
Comment[pt]=Aparência e Comportamento
Comment[pt_BR]=Aparência
Comment[ru]=Вид и поведение
Comment[sk]=Vzhľad a dojem
Comment[sl]=Prikaz in občutek
Comment[sv]=Utseende och känsla
Comment[tr]=Görünüm ve His
Comment[uk]=Вигляд і поведінка
Comment[x-test]=xxLook and Feelxx
Comment[zh_CN]=视觉效果

Icon=view-grid-symbolic
Exec=plasma-settings -m kcm_mediacenter_bigscreen_settings

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mediacenter_bigscreen_settings
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[az]=theme, look, feel,mövzu,xarici görünüş,hissetmə,vidjetlər növü
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[ca@valencia]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[de]=Design,Erscheinungsbild
X-KDE-Keywords[en_GB]=theme, look, feel
X-KDE-Keywords[es]=tema, aspecto
X-KDE-Keywords[eu]=gaia, itxura, izaera
X-KDE-Keywords[fi]=teema, ulkoasu, tuntuma
X-KDE-Keywords[fr]=Thème, apparence, ergonomie
X-KDE-Keywords[hu]=téma, kinézet, megjelenés
X-KDE-Keywords[it]=tema, aspetto
X-KDE-Keywords[ko]=theme, look, feel, 테마, 모습과 느낌
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[nn]=tema, utsjånad, åtferd
X-KDE-Keywords[pl]=wystrój, wygląd, odczucia, wrażenia
X-KDE-Keywords[pt]=tema, aparência, comportamento
X-KDE-Keywords[pt_BR]=tema, visual, aparência
X-KDE-Keywords[ru]=theme,look,feel,тема,оформление,внешний вид,стиль
X-KDE-Keywords[sk]=téma, vzhľad, dojem
X-KDE-Keywords[sl]=tema, videz,občutek
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[tr]=tema, görünüm, his
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
X-KDE-Keywords[zh_CN]=theme, look, feel, 主题, 外观, 视觉效果, 显示效果
Categories=Qt;KDE;X-KDE-settings-system;
