[Desktop Entry]
Name=Appearance
Name[az]=Xarici görünüş
Name[ca]=Aparença
Name[cs]=Vzhled
Name[eu]=Itxura
Name[nl]=Uiterlijk
Name[sv]=Utseende
Name[uk]=Вигляд
Name[x-test]=xxAppearancexx
Comment=Look and Feel
Comment[az]=Plasma Xarici Görünüşü
Comment[ca]=Aspecte i comportament
Comment[cs]=Vzhled a dojem
Comment[eu]=Itxura eta izaera
Comment[nl]=Uiterlijk en gedrag
Comment[sv]=Utseende och känsla
Comment[uk]=Вигляд і поведінка
Comment[x-test]=xxLook and Feelxx

Icon=view-grid-symbolic
Exec=plasma-settings -m kcm_mediacenter_bigscreen_settings

Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_mediacenter_bigscreen_settings
X-KDE-ParentApp=kcontrol
X-KDE-FormFactors=handset,tablet,mediacenter

X-KDE-System-Settings-Parent-Category=regionalsettings
X-KDE-Weight=70

X-KDE-Keywords=theme, look, feel
X-KDE-Keywords[az]=theme, look, feel,mövzu,xarici görünüş,hissetmə,vidjetlər növü
X-KDE-Keywords[ca]=tema, aspecte, comportament
X-KDE-Keywords[cs]=motiv,vzhled,chování
X-KDE-Keywords[eu]=gaia, itxura, izaera
X-KDE-Keywords[nl]=thema, uiterlijk, gedrag
X-KDE-Keywords[sv]=tema, utseende, känsla
X-KDE-Keywords[uk]=theme,look,feel,тема,вигляд,поведінка
X-KDE-Keywords[x-test]=xxthemexx,xx lookxx,xx feelxx
Categories=Qt;KDE;X-KDE-settings-system;
