[Desktop Entry]
Encoding=UTF-8
Name=Mycroft Bigscreen
Name[az]=Mycroft Böyük_ekran
Name[ca]=Mycroft Bigscreen
Name[ca@valencia]=Mycroft Bigscreen
Name[cs]=Mycroft Bigscreen
Name[da]=Mycroft Bigscreen
Name[de]=Mycroft Bigscreen
Name[el]=Mycroft Bigscreen
Name[en_GB]=Mycroft Bigscreen
Name[es]=Mycroft Bigscreen
Name[et]=Mycrofti suurekraan
Name[eu]=Mycroft Bigscreen
Name[fi]=Mycroft Bigscreen
Name[fr]=Grand écran pour Mycroft
Name[hu]=Mycroft Bigscreen
Name[id]=Mycroft Bigscreen
Name[it]=Mycroft Bigscreen
Name[ko]=Mycroft 큰 화면
Name[nl]=Mycroft Bigscreen
Name[nn]=Mycroft Bigscreen
Name[pl]=Duży ekran Mycroft
Name[pt]=Mycroft de Grande Ecrã
Name[pt_BR]=Mycroft Bigscreen
Name[ru]=Mycroft Bigscreen
Name[sk]=Mycroft Bigscreen
Name[sl]=Mycroft Bigscreen
Name[sv]=Mycroft storbildsskärm
Name[tr]=Mycroft Büyük Ekran
Name[uk]=Mycroft для великих екранів
Name[x-test]=xxMycroft Bigscreenxx
Name[zh_CN]=Mycroft 大屏幕
Name[zh_TW]=Mycroft Bigscreen
Comment=Homescreen for Plasma and Mycroft based TVs
Comment[az]=Plasma və Mycroft əsaslı TV-lər üçün Ev_ekranı
Comment[ca]=Pantalla d'inici del Plasma i Mycroft per a televisors
Comment[ca@valencia]=Pantalla d'inici de Plasma i Mycroft per a televisors
Comment[da]=Startskærm for Plasma- og Mycroft-baserede fjernsyn
Comment[el]=Προσωπική οθόνη για το Plasma και τηλεoράσεις με βάση το Mycroft
Comment[en_GB]=Homescreen for Plasma and Mycroft based TVs
Comment[es]=Pantalla de inicio para televisores basados en Plasma y Mycroft
Comment[et]=Plasma ja Mycrofti põhise TV avaekraan
Comment[eu]=Plasma eta Mycroft-en oinarritutako TBen atariko pantaila
Comment[fi]=Kotinäkymä Plasma- ja Mycroft-pohjaisille televisioille
Comment[fr]=Grand écran pour les télévisions utilisant Plasma et Mycroft
Comment[hu]=Kezdőképernyő Plasma és Mycroft-alapű televíziókhoz
Comment[id]=Homescreen untuk Plasma dan TV berbasiskan Mycroft
Comment[it]=Schermata principale per i televisori basati su Plasma e Mycroft
Comment[ko]=Plasma 및 Mycroft 기반 TV 홈 화면
Comment[nl]=Standaardscherm voor Plasma en op Mycroft gebaseerde TV's
Comment[nn]=Heimeskjerm for Plasma- og Mycroft-baserte TV-ar
Comment[pl]=Ekran domowy dla telewizorów opartych na Plazmie i Mycroft
Comment[pt]=Ecrã inicial para TV's baseadas no Plasma e Mycroft
Comment[pt_BR]=Tela inicial para TVs baseadas no Plasma e Mycroft
Comment[ru]=Главный экран для ТВ под управлением Plasma и Mycroft
Comment[sk]=Domovská obrazovka pre televízory s Plasma a Mycroft
Comment[sl]=Domači zaslon za Plasmo in televizorje Mycroft
Comment[sv]=Hemskärm för Plasma- och Mycroft-baserade tv-apparater
Comment[tr]=Plasma ve Mycroft tabanlı TV'ler için Ana Ekran
Comment[uk]=Домашнє вікно для телевізорів на основі Плазми і Mycroft
Comment[x-test]=xxHomescreen for Plasma and Mycroft based TVsxx
Comment[zh_CN]=基于 Plasma 和 Mycroft 的电视主屏幕
Comment[zh_TW]=適用於 Plasma 跟基於 Mycroft 的電視的主畫面

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-Library=plasma_containment_biglauncherhomescreen
X-KDE-PluginInfo-Name=org.kde.mycroft.bigscreen.homescreen
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft
