[Desktop Entry]
Encoding=UTF-8
Name=Mycroft Bigscreen
Name[ca]=Pantalla gran del Mycroft
Name[ca@valencia]=Pantalla gran del Mycroft
Name[es]=Mycroft Bigscreen
Name[et]=Mycrofti suurekraan
Name[it]=Mycroft Bigscreen
Name[nl]=Mycroft Bigscreen
Name[pt]=Mycroft de Grande Ecrã
Name[sk]=Mycroft Bigscreen
Name[sv]=Mycroft storbildsskärm
Name[uk]=Mycroft для великих екранів
Name[x-test]=xxMycroft Bigscreenxx
Name[zh_TW]=Mycroft Bigscreen
Comment=Homescreen for Plasma and Mycroft based TVs
Comment[ca]=Pantalla d'inici del Plasma i Mycroft per a televisors
Comment[ca@valencia]=Pantalla d'inici del Plasma i Mycroft per a televisors
Comment[es]=Pantalla de inicio para televisores basados en Plasma y Mycroft
Comment[et]=Plasma ja Mycrofti põhine teleekraan
Comment[it]=Schermata principale per i televisori basati su Plasma e Mycroft
Comment[nl]=Standaardscherm voor Plasma en op Mycroft gebaseerde TV's
Comment[pt]=Ecrã inicial para TV's baseadas no Plasma e Mycroft
Comment[sv]=Hemskärm för Plasma- och Mycroft-baserade tv-apparater
Comment[uk]=Домашнє вікно для телевізорів на основі Плазми і Mycroft
Comment[x-test]=xxHomescreen for Plasma and Mycroft based TVsxx
Comment[zh_TW]=適用於 Plasma 跟基於 Mycroft 的電視的主畫面

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Aditya Mehra
X-KDE-PluginInfo-Email=aix.m@outlook.com
X-KDE-PluginInfo-License=GPL
X-KDE-Library=plasma_containment_biglauncherhomescreen
X-KDE-PluginInfo-Name=org.kde.mycroft.bigscreen.homescreen
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=Utilities
Icon=mycroft
