# SPDX-FileCopyrightText: 2026 Achill Gilgenast <achill@achill.org>
# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL

[Desktop Entry]
Name=Settings
Name[ar]=إعدادات
Name[ca]=Configuració
Name[ca@valencia]=Configuració
Name[cs]=Nastavení
Name[es]=Preferencias
Name[eu]=Ezarpenak
Name[fr]=Configuration
Name[he]=הגדרות
Name[ia]=Preferentias
Name[it]=Impostazioni
Name[ka]=მორგება
Name[lt]=Nuostatos
Name[nl]=Instellingen
Name[pt_BR]=Configurações
Name[sl]=Nastavitve
Name[sv]=Inställningar
Name[tr]=Ayarlar
Name[uk]=Параметри
Name[zh_CN]=设置
Exec=plasma-bigscreen-settings
Icon=preferences-system
Type=Application
Terminal=false
Categories=Settings
NoDisplay=true
OnlyShowIn=KDE
