[Desktop Entry]
Exec=plasma-settings -s -m kcm_mediacenter_audiodevice
Icon=audio-volume-high
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/audiodevice/index.html

X-KDE-Library=kcm_mediacenter_audiodevice
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Weight=40
X-KDE-FormFactors=mediacenter

Name=Audio
Name[az]=Səs
Name[ca]=Àudio
Name[ca@valencia]=Àudio
Name[cs]=Audio
Name[en_GB]=Audio
Name[es]=Audio
Name[fi]=Ääni
Name[fr]=Audio
Name[it]=Audio
Name[ko]=오디오
Name[nl]=Audio
Name[pt]=Áudio
Name[pt_BR]=Áudio
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sv]=Ljud
Name[tr]=Ses
Name[uk]=Звук
Name[x-test]=xxAudioxx
Name[zh_CN]=音频
Comment=Manage mediacenter audio devices
Comment[az]=Medi mərkəzi səs cihazlarını idarə etmək
Comment[ca]=Gestiona els dispositius d'àudio del centre multimèdia
Comment[ca@valencia]=Gestiona els dispositius d'àudio del centre multimèdia
Comment[cs]=Spravovat zařízení audio mediálního centra
Comment[en_GB]=Manage mediacenter audio devices
Comment[es]=Administrar dispositivos de audio de mediatecas
Comment[fi]=Hallitse mediakeskuksen äänilaitteita
Comment[fr]=Gérer les périphériques audio du centre multimédia
Comment[it]=Gestisci i dispositivi audio del centro multimediale
Comment[ko]=미디어 센터 오디오 장치 관리
Comment[nl]=Audio-apparaten in mediacenter beheren
Comment[pt]=Gerir os dispositivos de áudio do centro multimédia
Comment[pt_BR]=Gerenciar dispositivos de áudio de centros de mídia
Comment[sk]=Spracovať mediálne zvukové zariadenia
Comment[sl]=Upravljaj zvočne naprave media centra
Comment[sv]=Hantera mediacenter ljudenheter
Comment[tr]=Ortam merkezi ses aygıtlarını yapılandır
Comment[uk]=Керування звуковими пристроями медіацентру
Comment[x-test]=xxManage mediacenter audio devicesxx
Comment[zh_CN]=管理媒体中心音频设备
Categories=Qt;KDE;X-KDE-settings-system;
