[Desktop Entry]
Name=Wifi
Name[ca]=Wi-Fi
Name[ca@valencia]=Wi-Fi
Name[es]=Wifi
Name[et]=WiFi
Name[nl]=Wi-Fi
Name[pt]=Wi-Fi
Name[sv]=WIFI
Name[uk]=Wi-Fi
Name[x-test]=xxWifixx
Name[zh_TW]=Wi-Fi

Icon=network-wireless-signal-exellent
Type=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_mediacenter_wifi
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript
X-KDE-FormFactors=mediacenter

X-Plasma-MainScript=ui/main.qml
